---
import dayjs from "dayjs"

import { getCollection } from "astro:content"
import Layout from "../layouts/Layout.astro"

const allPosts = await getCollection("post")
---

<Layout title="Lon Sagisawa">
  <main>
    <h1 class="title">Lon Sagisawa</h1>
    <p>
      Japanese junior-class web developer. He/Him. <a
        href="https://lon.sagisawa.me">Main blog/portfolio(Japanese)</a
      >
    </p>

    <ul class="posts_list">
      {
        allPosts.map((post) => (
          <li>
            <a href={`/${post.slug}`}>{post.data.title}</a> -{" "}
            {dayjs(post.data.date).format("MMM, D YYYY")}
          </li>
        ))
      }
    </ul>
  </main>
</Layout>

<style>
  main {
    margin-top: 4rem;
    margin-bottom: 8rem;
  }

  .title {
    font-size: 3rem;
    font-weight: 900;
  }

  .posts_list {
    margin-top: 1rem;
    list-style: none;
  }
</style>
