---
import "../reset.css"
import "@fontsource/inter/variable.css"
import "@fontsource/iosevka"

export interface Props {
  title: string
}

const { title } = Astro.props
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <div class="wrapper">
      <slot />
    </div>
  </body>
</html>

<style>
  :root {
    font-family: "InterVariable", sans-serif;
  }

  body {
    background-color: #f3f4f6;
    color: #292d37;
  }

  @media (prefers-color-scheme: dark) {
    body {
      color: #f3f4f6;
      background-color: #292d37;
    }
  }

  .wrapper {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    max-width: 42rem;
  }

  @media (min-width: 45rem) {
    .wrapper {
      margin-left: 4rem;
      margin-right: 4rem;
    }
  }
</style>

<style is:global>
  pre,
  code {
    font-family: "Iosevka", monospace;
  }
  a {
    color: inherit;
  }

  a:hover {
    color: #5b7ad0;
  }

  @media (prefers-color-scheme: dark) {
    a:hover {
      color: #a1b2e4;
    }
  }
</style>
